@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0f7173;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nav Bar */
.Nav {
  display: flex;
  margin-left: 5%;
  justify-content: space-between;
}

.Nav h1 {
  text-align: left;
}

.Navbar {
  display: flex;
  text-align: center;
  margin: 2%;
}
.Navbar a {
  display: flex;
  flex-direction: row;
  margin: 25px;
}

.navStyle.current Link:active {
  font-weight: bold;
}

/* footer */

footer {
  display: block;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #0f7173;
  text-align: center;
}
.footer a {
  margin: 10%;
}
/* body styling */
.bodyContainer {
  margin: 5% 10% 5% 10%;
}

/* About Me */
.profileImg {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

/* Portfolio */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}
.image-container {
  box-sizing: border-box;
  border: 5px solid #92cccd;
  margin: 25px;
  height: 250px;
  width: 400px;
}

.hidden {
  padding: 50px 25px 50px 25px;
  width: 340px;
  height: 140px;
  background-color: grey;
  opacity: 50%;
}
.hidden a {
  display: none;
}
.hidden h5 {
  display: none;
}
.hidden:hover a {
  display: block;
}
.hidden:hover h5 {
  display: block;
}
/* Contact */

.name {
  height: 25px;
}

input {
  height: 250px;
  width: 500px;
}

.submit {
  margin-top: 3%;
  padding: 50px, 20px, 10px, 20px;
}
